<div class="container">
  <h3>
    {{link-to "Items" "items.index"}}
  </h3>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Value</th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each item in controller itemController="item"}}
        <tr>
          <td>
            {{item.name}}
          </td>
          <td>
            {{item.date}}
          </td>
          <td>
            {{item.quantity}}
          </td>
          <td>
            {{item.price}}
          </td>
          <td>
            {{item.value}}
          </td>
          <td class="text-right">
            <button {{action "destroyItem" item}} type="button" class="btn btn-link btn-xs">Remove</button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  {{link-to "New Item" "items.new" class="btn btn-primary"}}
</div>
