<div class="container">
  <h3>
    {{link-to "Assets" "items.index"}}
  </h3>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Symbol</th>
        <th class="text-right">Quantity</th>
        <th class="text-center">Bought On</th>
        <th class="text-right">Bought Price</th>
        <th class="text-right">Bought Value</th>
        <th class="text-right">Sold Price /<br>Current Price</th>
        <th class="text-right">Sold Value /<br>Current Value</th>
        <th class="text-right">Profit / Loss</th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each asset in controller}}
        <tr {{bind-attr class="asset.isLoss:text-danger asset.isProfit:text-success"}}>
          <td>
            {{asset.symbol}}
          </td>
          <td class="text-right">
            {{asset.quantity}}
          </td>
          <td class="text-center">
            {{asset.boughtOn}}
          </td>
          <td class="text-right">
            {{asset.boughtPrice}}
          </td>
          <td class="text-right">
            {{asset.boughtValue}}
          </td>
          <td class="text-right">
            {{asset.soldPrice}}
          </td>
          <td class="text-right">
            {{asset.soldValue}}
          </td>
          <td class="text-right">
            {{asset.profit}}
          </td>
          <td class="text-right">
            {{#unless asset.isSold}}
              {{link-to "Sell" "item.sell" asset.model class="btn btn-link btn-xs"}}
            {{/unless}}
            <button class="btn btn-link btn-xs" {{action "destroyAsset" asset}}>Remove</button>
          </td>
        </tr>
      {{/each}}
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right">
          {{soldValue}}
        </th>
        <th class="text-right">
          {{profit}}
        </th>
        <th class="text-right">
          {{link-to "Sell" "items.sell" class="btn btn-link btn-xs"}}
          {{link-to "Buy" "items.buy" class="btn btn-link btn-xs"}}
        </th>
      </tr>
    </tfoot>
  </table>
</div>
