<div class="container">
  <h3>
    {{link-to "Items" "items.index"}}
  </h3>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Symbol</th>
        <th class="text-center">Date</th>
        <th class="text-right">Quantity</th>
        <th class="text-right">Price</th>
        <th class="text-right">Value</th>
        <th class="text-right">Current Price</th>
        <th class="text-right">Current Value</th>
        <th class="text-right">Gain / Loss</th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each item in controller}}
        <tr {{bind-attr class="item.isLoss:text-danger item.isGain:text-success"}}>
          <td>
            <abbr {{bind-attr title="item.name"}}>{{item.symbol}}</abbr>
          </td>
          <td class="text-center">
            {{item.date}}
          </td>
          <td class="text-right">
            {{item.quantity}}
          </td>
          <td class="text-right">
            {{item.price}}
          </td>
          <td class="text-right">
            {{item.value}}
          </td>
          <td class="text-right">
            {{item.currentPrice}}
          </td>
          <td class="text-right">
            {{item.currentValue}}
          </td>
          <td class="text-right">
            {{item.gain}}
          </td>
          <td class="text-right">
            <button {{action "destroyItem" item}} type="button" class="btn btn-link btn-xs">Remove</button>
          </td>
        </tr>
      {{/each}}
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right">
          {{currentValue}}
        </th>
        <th class="text-right">
          {{gain}}
        </th>
        <th class="text-right">
          {{link-to "Add" "items.new" class="btn btn-link btn-xs"}}
        </th>
      </tr>
    </tfoot>
  </table>
</div>
