<div class="container">
  <h3>New Item</h3>

  <form {{action "saveItem" on="submit"}}>
    <div {{bind-attr class=":form-group form.errors.symbol:has-error"}}>
      <label class="control-label">Symbol</label>
      {{input valueBinding="form.symbol" class="form-control"}}
      <span class="help-block">{{form.errors.symbol}}</span>
    </div>

    <div {{bind-attr class=":form-group form.errors.date:has-error"}}>
      <label class="control-label">Date</label>
      {{input valueBinding="form.date" class="form-control" type="date"}}
      <span class="help-block">{{form.errors.date}}</span>
    </div>

    <div {{bind-attr class=":form-group form.errors.quantity:has-error"}}>
      <label class="control-label">Quantity</label>
      {{input valueBinding="form.quantity" class="form-control" type="number"}}
      <span class="help-block">{{form.errors.quantity}}</span>
    </div>

    <div {{bind-attr class=":form-group form.errors.price:has-error"}}>
      <label class="control-label">Price</label>
      {{input valueBinding="form.price" class="form-control" type="number" step="any"}}
      <span class="help-block">{{form.errors.price}}</span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    {{link-to "Cancel" "items.index" class="btn btn-link"}}
  </form>
</div>
