<div class="container">
  <h3>New Asset</h3>

  <form {{action "saveAsset" on="submit"}}>
    <div {{bind-attr class=":form-group form.errors.symbol:has-error"}}>
      <label class="control-label">Symbol</label>
      {{input value=form.symbol class="form-control"}}
      <span class="help-block">{{form.errors.symbol}}</span>
    </div>

    <div {{bind-attr class=":form-group form.errors.quantity:has-error"}}>
      <label class="control-label">Quantity</label>
      {{input value=form.quantity class="form-control" type="number"}}
      <span class="help-block">{{form.errors.quantity}}</span>
    </div>

    <div {{bind-attr class=":form-group form.errors.boughtOn:has-error"}}>
      <label class="control-label">Bought On</label>
      {{input value=form.boughtOn class="form-control" type="date"}}
      <span class="help-block">{{form.errors.boughtOn}}</span>
    </div>

    <div class="form-group">
      <div class="checkbox">
        <label>
          {{input type="checkbox" checked=isFetching}}
          Fetch Price
        </label>
      </div>
    </div>

    {{#if isFetching}}
      <div {{bind-attr class=":form-group form.errors.boughtPrice:has-error"}}>
        <label class="control-label">Bought Price</label>
        <p class="form-control-static form-control" readonly>
          {{#if exchangeRatesTables.isPending}}
            Fetching…
          {{/if}}
          {{exchangeRate.average}}
        </p>
      </div>
    {{/if}}

    {{#unless isFetching}}
      <div {{bind-attr class=":form-group form.errors.boughtPrice:has-error"}}>
        <label class="control-label">Bought Price</label>
        {{input value=form.boughtPrice class="form-control" type="number" step="any"}}
        <span class="help-block">{{form.errors.boughtPrice}}</span>
      </div>
    {{/unless}}

    <button type="submit" class="btn btn-primary">Save</button>
    {{link-to "Cancel" "items.index" class="btn btn-link"}}
  </form>
</div>
