<div class="container">
  <form {{action "sellAssets" on="submit"}}>
    <legend>Sell Asset</legend>

    <fieldset>
      <div {{bind-attr class=":form-group errors.symbol:has-error"}}>
        <label class="control-label">Symbol</label>
        {{view "list-field" value=symbol class="form-control" listName="asset-types"}}
        <datalist id="asset-types">
        {{#each assetType in assetTypes}}
          <option>{{assetType.symbol}}</option>
        {{/each}}
        </datalist>
        <span class="help-block">{{errors.symbol}}</span>
      </div>

      <div class="form-group">
        <label class="control-label">Max Quantity</label>
        {{input value=maxQuantity class="form-control" type="number" readonly=true}}
      </div>
    </fieldset>

    <fieldset>
      <legend>Sold</legend>
      <div {{bind-attr class=":form-group errors.soldOn:has-error"}}>
        <label class="control-label">Date</label>
        {{input value=soldOn class="form-control" type="date"}}
        <span class="help-block">{{errors.soldOn}}</span>
      </div>

      <div {{bind-attr class=":form-group errors.soldPrice:has-error"}}>
        <label class="control-label">Price</label>
        <div class="input-group">
          <span class="input-group-addon">PLN</span>
          {{input value=soldPrice class="form-control" type="number" step="any" disabled=assetTypes.isPending}}
          <span class="input-group-btn">
            <button type="button" {{action "fetch"}} {{bind-attr disabled=assetTypes.isPending}} class="btn btn-default">
              {{#if assetTypes.isPending}}
                Fetching…
              {{/if}}
              {{#unless assetTypes.isPending}}
                Fetch
              {{/unless}}
            </button>
          </span>
        </div>
        <span class="help-block">{{errors.soldPrice}}</span>
      </div>

      <div {{bind-attr class=":form-group errors.quantity:has-error"}}>
        <label class="control-label">Quantity</label>
        {{input value=quantity class="form-control" type="number"}}
        <span class="help-block">{{errors.quantity}}</span>
      </div>
    </fieldset>

    <button type="submit" class="btn btn-primary">Sell</button>
    {{link-to "Cancel" "items.index" class="btn btn-link"}}
  </form>
</div>
