<div class="container">
  <h3>Edit Asset</h3>

  <form {{action "saveAsset" on="submit"}}>
    <div {{bind-attr class=":form-group form.errors.symbol:has-error"}}>
      <label class="control-label">Symbol</label>
      {{view "list-field" value=form.symbol class="form-control" listName="asset-types"}}

      <datalist id="asset-types">
        {{#each assetType in assetTypes}}
          <option>{{assetType.symbol}}</option>
        {{/each}}
      </datalist>
      <span class="help-block">{{form.errors.symbol}}</span>
    </div>

    <div {{bind-attr class=":form-group form.errors.quantity:has-error"}}>
      <label class="control-label">Quantity</label>
      {{input value=form.quantity class="form-control" type="number"}}
      <span class="help-block">{{form.errors.quantity}}</span>
    </div>

    <div {{bind-attr class=":form-group form.errors.boughtOn:has-error"}}>
      <label class="control-label">Bought On</label>
      {{input value=form.boughtOn class="form-control" type="date"}}
      <span class="help-block">{{form.errors.boughtOn}}</span>
    </div>

    <div {{bind-attr class=":form-group form.errors.boughtPrice:has-error"}}>
      <label class="control-label">Bought Price</label>
      <div class="input-group">
        <span class="input-group-addon">PLN</span>
        {{input value=form.boughtPrice class="form-control" type="number" step="any" disabled=assetTypes.isPending}}
        <span class="input-group-btn">
          <button type="button" {{action "fetch"}} {{bind-attr disabled=assetTypes.isPending}} class="btn btn-default">
           {{#if assetTypes.isPending}}Fetching…{{/if}}
           {{#unless assetTypes.isPending}}Fetch{{/unless}}
          </button>
        </span>
      </div>
      <span class="help-block">{{form.errors.boughtPrice}}</span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    {{link-to "Cancel" "items.index" class="btn btn-link"}}
  </form>
</div>
