<div class="container">
  <p>
    {{session.email}}
  </p>

  {{log session}}

  {{link-to "Sign Up" "sign-up" class="btn btn-link"}}
  {{link-to "Sign In" "sign-in" class="btn btn-link"}}
  <button class="btn btn-link" {{action "signOut"}}>Sign Out</button>
  {{link-to "Items" "items.index" class="btn btn-link"}}
</div>
