<div class="container">
  <p>
    <strong>Logged in as:</strong> {{session.email}}
  </p>

  {{#if session.isAnonymous}}
    {{link-to "Sign Up" "sign-up" class="btn btn-link"}}
  {{/if}}

  {{#if session.isAnonymous}}
    {{link-to "Sign In" "sign-in" class="btn btn-link"}}
  {{/if}}

  {{#unless session.isAnonymous}}
    <button class="btn btn-link" {{action "signOut"}}>Sign Out</button>
  {{/unless}}

  {{link-to "Items" "items.index" class="btn btn-link"}}
</div>
